name: Fuzzing (Property-Based Testing)

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '15 2 * * *'

permissions: read-all

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f4633668828d0b93fc279453eed0a8f1 # v4.1.1

      - name: Install Nix
        uses: cachix/install-nix-action@8887e59634c54325c52a1b1842e3d36b856a4220 # v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run Fuzz Tests (Fast-Check)
        # We leverage the existing property-based tests as our fuzzing suite
        run: nix develop --command npm ci && nix develop --command npm run test
